@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background font-sans text-text-main antialiased;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }
  /* Ajustes finos para os textos gerados pelo MDX */
  .prose {
    /* Cor dos parágrafos, etc. */
    --tw-prose-body: theme(colors.text.muted);
    /* Cor dos títulos dentro dos artigos */
    --tw-prose-headings: theme(colors.text.main);
    /* Cor dos links */
    --tw-prose-links: theme(colors.primary.DEFAULT);
    /* Cor dos itens de lista e outros elementos */
    --tw-prose-bullets: theme(colors.primary.dark);
    --tw-prose-counters: theme(colors.primary.dark);
    /* Cor de citações e blocos de código */
    --tw-prose-quotes: theme(colors.text.main);
    --tw-prose-code: theme(colors.primary.light);
  }
}

/* Classe para o fundo do Hero */
.hero-background {
  /* Imagem padrão para desktop */
  background-image: url("/hero-desktop.webp");
}

/* Media Query: Aplica estes estilos apenas em telas com largura máxima de 768px */
@media (max-width: 768px) {
  .hero-background {
    /* Troca a imagem para a versão mobile */
    background-image: url("/hero-mobile.webp");
  }
}

/* Sistema de Aspect Ratio Responsivo */
.hero-aspect-ratio {
  position: relative;
  width: 100%;

  /* PROPORÇÃO PADRÃO (MOBILE FIRST) */
  /* Proporção da imagem mobile (1080x1500) -> (1500 / 1080) * 100% */
  padding-bottom: 138.88%;
}

/* Media Query para telas maiores (md: 768px em diante) */
@media (min-width: 768px) {
  .hero-aspect-ratio {
    /* MUDA PARA A PROPORÇÃO DESKTOP */
    /* Proporção da imagem desktop (1920x700) -> (700 / 1920) * 100% */
    padding-bottom: 36.45%;
  }
}

/* Classe para o conteúdo que vai dentro do contêiner de aspect-ratio */
.hero-content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
